name: Update rock

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    uses: canonical/observability/.github/workflows/rock-update.yaml@v0
    with:
      rock-name: parca
      source-repo: parca-dev/parca
      check-go: true
    secrets: inherit
